
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li{
  text-decoration: none;
}

.App {
  text-align: center;
}


.App-header {
  background-color: #ebeced;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #000;
}

